body {
    background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
    font-family: Verdana;
}

.menu{
    background-color: white;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    }

