* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    backdrop-filter: invert(14%);
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: auto 100vw; 
    display: block;
    font-size: 14px;
    height: 100vh;
    margin: 8px;
}

@media (min-width: 400px)
body {
    font-size: 16px;
}

header {
    align-content: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.menu {
    background-color: rgba(2, 2, 68, 0.5);
    font-family: 'Major Mono Display', monospace;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    width: 100vw;
    top: 0px;   
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.menu li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    color: #B0C4DE;;
    text-decoration: none;
}

a:hover {
    color: white;
	text-decoration: wavy; 
	}

.homepageGrid {
    align-content: center;
    display: grid;
    gap: 50px;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a:link, a:visited, a:active {
    color: #B0C4DE;
	text-decoration: none;
}

.site-subtitle, 
.site-title {
  color: white;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
 font-style: italic;
 line-height: 1.8em;
}