* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:teal;
    display: block;
    margin: 8px;
}

.container {
    display: grid;
    grid-template-columns: 260px 5fr;
    grid-template-rows: 100%;
    height: 100vh;
    grid-template-areas: 'header main';
}

.container .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    font-family: 'Major Mono Display', monospace;
}

h3 {
    color: #B0C4DE;
    margin-top: -30px;
    font-family: 'Cutive Mono', monospace;
    font-size: 12px;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menu-superior li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu-superior a {
    color: #B0C4DE;
    text-decoration: none;
    font-size: 12px;
    padding: 20px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

header {
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    backdrop-filter: invert(14%);
    background-size: auto 100vh;
    height: 650px;
    width: 250px;
    position: fixed;
    grid-area: header;
}

@media (max-width: 643px)
main {
    margin-left: 6em;
    margin-right: 3em;
}
@media (max-width: 900px)

main {
    margin-left: 3em;
    font-size: 0.9em;
}

main {
    display: block;
    font-family: 'Cutive Mono', monospace;
    margin-right: 5em;
    margin-left: 3em;
    grid-area: main;
}

@media (max-width: 556px)
.foto {
    float: none;
    margin-left: -200px;
    margin-top: 1em;
}
@media (max-width: 783px)
.foto {
    width: 150px;
}
@media (max-width: 1200px)
.foto {
    margin: 2em;
    margin-top: 5em;
}
.foto {
    width: 170px;
    border-radius: 50%;
    float: right;
    margin: 2em;
    margin-top: -7em;
}

p{
    text-align: justify;
}

.servicos img {
    border-radius: 20%;
    height: 200px;
    width: 200px;
}

.servicos figcaption {
    color: rgb(0, 0, 26);
    font-size: 18px;
}

figcaption {
    display: block;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.servicos a {
    text-decoration: none;
}


@media (max-width: 603px)
.servicos {
    margin-left: -250px;
}
@media (max-width: 950px)
.servicos {
    margin-left: 2em;
}

.servicos {
    display: grid;
    gap: 70px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    grid-template-columns: 180px 180px 180px 180px;
}

@media (max-width: 538px)
.servicos {
    text-align: center;
}

.flip-card {
    perspective: 600px;
    margin-right: 0px;
    width: 200px;
    height: 200px;
}

.card {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    justify-content: center;
}

.servicos a {
    text-decoration: none;
}

div {
    display: block;
}

.frente, .verso {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 500ms;
}

  .flip-card:hover .card {
    transform: rotateY(180deg);
  }
  
  .frente, 
  .verso {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .verso {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    height: 200px;
    width: 200px;
    transform: rotateY(180deg);
    border-radius: 20%;
    text-align: center;
    padding-top: 15px;
    color: rgb(0, 0, 26);
    font-size: 18px;
  }
